<section class="contact-section">
  <h2>Contact Me</h2>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
    <label>Name:
      <input type="text" formControlName="name">
    </label>
    <label>Email:
      <input type="email" formControlName="email">
    </label>
    <label>Message:
      <textarea formControlName="message"></textarea>
    </label>
    <button type="submit" [disabled]="!contactForm.valid">Send Message</button>
  </form>

  <div class="social-links">
    <p>Email: hirenprajapati722gmail.com</p>
    <p>Phone: +91 84879 93795</p>
    <p>
      <a href="https://www.linkedin.com/in/hiren-pankhaniya-217454202/" target="_blank">LinkedIn</a> |
      <a href="https://github.com/hirenp25" target="_blank">GitHub</a>
    </p>
  </div>
</section>
